version: '3.8'
services:
  product:
    build: ./services/product-service
    container_name: sample_product
    ports:
      - "5001:5001"
    environment:
      - FLASK_ENV=production
    volumes:
      - ./services/product-service/products.db:/app/products.db

  user:
    build: ./services/user-service
    container_name: sample_user
    ports:
      - "5002:5002"
    volumes:
      - ./services/user-service/users.json:/app/users.json

  order:
    build: ./services/order-service
    container_name: sample_order
    ports:
      - "5003:5003"
    environment:
      - USER_SERVICE_URL=http://user:5002
      - PRODUCT_SERVICE_URL=http://product:5001
    volumes:
      - ./services/order-service/data:/app/data

  gateway:
    build: ./services/gateway
    container_name: sample_gateway
    ports:
      - "5000:5000"
    environment:
      - USER_SERVICE_URL=http://user:5002
      - PRODUCT_SERVICE_URL=http://product:5001
      - ORDER_SERVICE_URL=http://order:5003
    depends_on:
      - product
      - user
      - order
    volumes:
      - ./services/gateway:/app

  frontend:
    build: ./services/frontend-react
    container_name: sample_frontend
    ports:
      - "8080:80"
    depends_on:
      - gateway
    volumes:
      - ./services/frontend-react:/app
